<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>
    <form action="#" th:action="@{/user/registerUser}" th:object="${user}" method="post">
        <div>
            <label for="username"> Benutzername:</label>
            <input type="text" id="username" name="username" placeholder="Dein Benutzername..."
                   minlength="5"
                   maxlength="15"
            >
        </div>

        <div>
            <label for="password"> Passwort:</label>
            <input type="password" id="password" name="password" placeholder="Dein Passwort..."
                   minlength="10"
                   maxlength="10"
            >
        </div>

        <div>
            <label for="passwordrepeat"> Passwort:</label>
            <input type="password" id="passwordrepeat" name="passwordrepeat" placeholder="Dein Passwort wiederholen..."
                   minlength="10"
                   maxlength="10"
            >
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>