<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
    <div th:replace="layout/menu :: menu"></div>
    <!-- HEADER -->
    <div class="header">
        <div>
            <h1>PROFESSIONELLE <br> UMFRAGEN ERSTELLEN</h1>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            </p>
        </div>
    </div>

    <!-- REGISTRIERUNG -->
    <div class="banner">
        <a th:href="@{/users/registration}">JETZT KOSTENLOS REGISTRIEREN!</a>
    </div>

    <!-- WERBUNG -->
    <div class="advertisement">
        <div>
            <p th:if="${countUsers != null}" th:text="${countUsers}"></p>
            <p th:if="${countUsers == null}">0</p>
            <h3>Benutzer</h3>
        </div>
        <div>
            <p th:if="${countSurvey != null}" th:text="${countSurvey}"></p>
            <p th:if="${countSurvey == null}">0</p>
            <h3>Umfragen</h3>
        </div>
        <div>
            <p th:if="${numberResults != null}" th:text="${numberResults}"></p>
            <p th:if="${numberResults == null}">0</p>
            <h3>Ergebnisse</h3>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
</body>
</html>