<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meine Umfragen</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
<div th:replace="layout/menu :: menu"></div>

<div class="content">
    <div>

        <div th:each="survey : ${getSurveyByIdAndUser}" class="ShowSurvey">
            <div>
                <h3 th:text="${survey.title}"></h3>
                <p>Beschreibung: <span th:text="${survey.description}"></span></p>
                <ul class="edit">
                    <li><a th:href="@{/surveys/change(change='Survey',id=${survey.id})}">Umfragetitel bearbeiten</a></li>
                    <li><a th:href="@{/surveys/change(change='Survey',id=${survey.id})}">Beschreibung bearbeiten</a></li>
                </ul>
            </div>
            <!-- Fragen -->
            <div th:each ="questions : ${survey.getQuestions()}">
                <div>
                    <hr>
                    <p th:text="${questions.title}"></p>
                    <ul class="edit">
                        <li><a th:href="@{/surveys/change(change='Question',id=${questions.id})}">Frage bearbeiten</a></li>
                        <li><a th:href="@{/surveys/delete(type='question',sid=${survey.id},e=${questions.id})}">Frage löschen</a></li>
                    </ul>
                    <!-- Antworten -->
                    <ul th:each ="answers : ${questions.getAnswers()}">
                        <li>
                            <ul class="edit">
                                <li><span th:text="${answers.title}"></span></li>
                                <li><a th:href="@{/surveys/change(change='Answer',id=${answers.id})}">bearbeiten</a></li>
                                <li><a th:href="@{/surveys/delete(type='answer',sid=${survey.id},e=${answers.id})}">löschen</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <form class="selection" action="add" method="get">
                    <ul>
                        <li><input th:name="title" type="text"></li>
                        <li><input th:name="sid" th:value="${questions.id}" type="hidden"></li>
                        <li><button th:name="actioname" th:value="addAnswer" type="submit">Antwort Hinzufügen</button></li>
                    </ul>
                </form>
            </div>
            <hr>
            <form class="selection" action="add" method="get">
                <ul>
                    <li><input th:name="title" type="text"></li>
                    <li><input th:name="sid" th:value="${survey.id}" type="hidden"></li>
                    <li><button th:name="actioname" th:value="addQuestion" type="submit">Frage Hinzufügen</button></li>
                </ul>
            </form>
        </div>

        <a href="/surveys/my">Zurück</a>

    </div>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>