<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Umfragen</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
<div th:replace="layout/menu :: menu"></div>
<table border="1">
    <tr>
        <th>Umfrage</th>
        <th>Beschreibung</th>
        <th>Ersteller</th>
        <th>Frage & Antworten</th>
    </tr>
    <tr th:each="survey : ${surveyAll}">
        <td th:text="${survey.title}"></td>
        <td th:text="${survey.description}"></td>
        <td th:text="${survey.creator.getName()}"></td>
        <td >
            <div th:each ="questions : ${survey.getQuestions()}">
                <p th:text="${questions.title}"></p>
                <ul th:each ="answers : ${questions.getAnswers()}">
                    <li th:text="${answers.title}"></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>