<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meine Umfragen</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
<div th:replace="layout/menu :: menu"></div>

<div class="content" sec:authorize="authenticated" >
    <div>
        <!-- UMFRAGE ERSTELLEN -->
        <div class="ShowSurvey" >
            <h3>Neue Umfrage erstellen:</h3>
            <div>
                <form class="selection" action="#" th:action="createSurvey" th:object="${survey}" method="post">
                    <div>
                        <label>Titel:</label>
                        <input type="text" name="Title" value="" minlength="10">
                        <button type="reset" name="button">Zurücksetzen</button>
                    </div>
                    <div>
                        <label>Beschreibung:</label>
                        <input type="text" name="" value="" minlength="20">
                        <button type="submit">Umfrage erstellen</button>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- UMFRAGE ÜBERSICHT -->
        <div th:each="survey : ${getSurveyById}" class="ShowSurvey">
            <div>
                <h3 th:text="${survey.title}"></h3>
                <p>Beschreibung: <span th:text="${survey.description}"></span></p>
            </div>
            <!-- Fragen -->
            <div th:each ="questions : ${survey.getQuestions()}">
                <hr>
                <ul class="edit">
                    <li><p th:text="${questions.title}"></p></li>
                </ul>
                <!-- Antworten -->
                <ul>
                    <li th:each ="answers : ${questions.getAnswers()}">
                        <ul>
                            <li><span th:text="${answers.title}"></span><span> | </span><span th:text="${result.calculateResult(questions.id,answers.id)}"></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="selection">
                <ul>
                    <li><a th:href="@{/surveys/edit(sid=${survey.id})}">Umfrage bearbeiten</a></li>
                    <li><a th:href="@{/surveys/delete(type='survey',sid=${survey.id},e=${survey.id})}">Umfrage löschen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>